/* Footer */
footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 7%;
  top: initial;
  bottom: 0;
  position: fixed;
  z-index: 111;
  background-color: white;
}
.footer__page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__page > p {
  color: #222222;
  font-size: 19px;
  font-weight: 500;
}
.footer__page:hover,
.footer__page:hover * {
  color: royalblue !important;
}

